.list-item {
    cursor: pointer;
    min-height: 50px;
    line-height: 50px;
    background-color: #C5CAE9;
    border: 1px solid white;
    width: 100%;

    &-text {
        padding: 0 10px;
        color: #212121;
    }
}