<app-nav 
[getControlMode]="controlMode$ | async" 
(sendControlMode)="getMode($event)"
[inAdminPanel]="true"
>
</app-nav>
<div class="block-size">
    <app-left-menu (changeMode)="getSplit($event)"></app-left-menu>
    
    <mat-card class="card">
      <app-language-mode (changeLanguage)="getLang($event)"></app-language-mode>
      <mat-card-title>
        <div>
            <button mat-button (click)="addWord()">Добавить элемент</button>
            <button mat-button (click)="removeWord()">Удалить элемент</button>
        </div>
        <div class="popup-block" [formGroup]="fg" *ngIf="addWordFlag">
          <mat-form-field class="word-field">
            <input matInput formControlName="word" placeholder="Введите текст на английском">
          </mat-form-field>
          <mat-form-field class="word-field">
            <input matInput formControlName="translation" placeholder="Введите текст на русском">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="submitNewWord()">Подтвердить</button>
        </div>
        <div class="popup-block" *ngIf="removeWordFlag">
          <div #removeBlock class="remove-block" dragula="second-bag">Перетащите сюда, чтобы удалить слово</div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <span class="lists-place">
            <mat-list 
            class="list list-left"
            dragula="second-bag"
            [dragulaOptions]="{ revertOnSpill: true }"
            >
              <button class="list-item" mat-list-item *ngFor="let item of words" value="{{item.id}}">
                <p class="list-item-text">{{item.word}} | {{item.translation}}</p>
              </button>
            </mat-list>
    
            <mat-list
            #droppable
            class="list list-right" 
            dragula="second-bag" 
            [dragulaOptions]="{ revertOnSpill: true }"
            role="list"
            >
              <button class="list-item" mat-list-item *ngFor="let item of controlWords" value="{{item.id}}">
                <p class="list-item-text">{{item.word}} | {{item.translation}}</p>
              </button>
            </mat-list>
          </span>
        </mat-card-content>
    </mat-card>
</div>
