<mat-toolbar class="app-toolbar" color="primary">
    <mat-toolbar-row>
        <a mat-button (click)="goToDashboard()">Главная</a>
        <a *ngIf="isAdmin$ | async" mat-button (click)="goToAdmin()">Админ панель</a>
        <div class="flex-spacer"></div>
        <a mat-button (click)="exit()">
            <mat-icon>exit_to_app</mat-icon>
            Выход
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="secondary">
        <a mat-button [class.active]="!getControlMode" *ngIf="(!allPermissions && !getControlMode) || allPermissions" (click)="changeMode(false)">Обучающий режим</a>
        <a mat-button [class.active]="getControlMode" *ngIf="(!allPermissions && getControlMode) || allPermissions" (click)="changeMode(true)">Режим контроля</a>
        <div class="flex-spacer"></div>
        <a *ngIf="(isAdmin$ | async) && inAdminPanel" mat-button (click)="true">Пополнить словарь</a>
        <a *ngIf="(isAdmin$ | async) && inAdminPanel" mat-button (click)="true">Статистика</a>
        <a *ngIf="(isAdmin$ | async) && inAdminPanel" [class.active]="!allPermissions" mat-button (click)="setAllPermissions()">Контрольная</a>
    </mat-toolbar-row>
</mat-toolbar>